ion-tabs{
  background-color: var(--ion-background-color);
}

ion-tab-bar{
  margin: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 22px 70px 0px;
}

ion-card{
  background-color: var(--ion-card-background);
}

ion-card ion-grid ion-row{
  display: flex;
  flex: none;
  justify-content: space-between;
}

ion-card ion-grid ion-row ion-col{
  max-width: fit-content;
}

.cardimage{
  width: 50px;
  height: 50px;
}

.cardimage2{
  width: 40px;
  height: 40px;
}

.flex{
  display: flex;
  flex: none;
  align-items: center;
}

.flex-between{
  display: flex;
  flex: none;
  justify-content: space-between;
}

.coin-title{
  margin-left: 10px;
}

.price{
  font-size: medium;
  color: #666666;
}

.price-stats{
  margin-bottom: 10px;
  text-transform: capitalize;
}

.percentage-red{
  font-size: medium;
  color: var(--ion-color-danger);
}

.percentage-green{
  font-size: medium;
  color: var(--ion-color-success);
}

.box-percentage-red{
  font-size: medium;
  color: var(--ion-color-primary-contrast);
  background-color: var(--ion-color-danger);
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.box-percentage-green{
  font-size: medium;
  color: var(--ion-color-primary-contrast);
  background-color: var(--ion-color-success);
  padding: 5px;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.container h5 {
  font-size: 24px;
  font-weight: bold;
}

.container p {
  font-size: 11px;
  font-weight: bold;
  opacity: 0.3;
  margin: 0;
}

.container ion-icon {
  font-size: 60px;
}

.end p{
  margin-right: 10px;
}